[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
docopt = "*"
docker = "*"
pyyaml = "*"
flask = "*"
kubernetes = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3"
